body {
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
}
@media only screen 
and (min-width: 480px){

  div{
    flex-direction: row;
    box-sizing: border-box;
    text-align: center;

  }
  #1{
    width: 480px;
    height: 75px;
    background-color: orange;
  }
  #2{
    width: 480px;
    height: 150px;
    background-color: orangered;
  }
  #3{
    width: 480px;
    height: 125px;
    background-color: rgb(255, 0, 0);
  }
  #4{
    width: 480px;
    height: 125px;
    background-color: rgb(255, 0, 98);
  }
  #lowSec{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
   }

  .lower{
    width: 240px;
    height: 250px;
    background-color: orchid;
  }
    
  #bottom{
   width: 480px; 
   height: 80px;
   background-color: rgb(135, 112, 218);
  }
  
}